<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Network</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar slot="start">
      <ion-title size="large">Network</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="content ion-padding">
  {{ connectionStatus | json }}
</div>
</ion-content>
