<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Native Plugins
    </ion-title>
    <ion-toggle (ionChange)='toggleTheme($event)' color="secondary" slot="end" class="ion-margin-end"></ion-toggle>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 11 page"></app-explore-container>
</ion-content>
